#logo {
  opacity:2;
  display:inline-block;
  text-align: left;
  float:left;
}

table {
  display: inline;
  position: relative;
  float:left;
  vertical-align: text-bottom;
  text-align: left;
  max-width:100%;
  max-height:100%;
  /*margin-left: 1%;
  margin-right: auto;
  margin-top: 4px;*/
    margin:0;
}

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 15px;
}

td {
    padding-left: 10px!important;
}

    table td[class*=col-], table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none;
    padding-right: 0;
    padding-bottom: 5;
    vertical-align: bottom;
}

button {
  position: relative;
  bottom:   0;
  //margin-left: 20px;
}

svg {
  background-color: black;
}

#top {
  text-align:center;
  vertical-align: bottom;
  background-color:white;
  /*float: top;
  top: 40;
  height: 20%;*/
  display: inline-table;

}
    .form-inline{
    margin:0;
    }

.main_container{
    /*height: 80%;*/
    height: calc(100% - 165px);
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    margin-top: 10px;
    padding-left: 15px;
}

#left_column {
    overflow: hidden;
    float: left;
    width: 111px;
    height: 100%;
   /* margin-left: calc((100% - 1170px) / 2);*/
}

#center_column {
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    height: 100%;
    max-width: calc(100% - 222px);
}

#right_column {
    overflow: hidden;
    float: left;
    width: 111px;
    height: 100%;
}


line{
    font-size:220px;
    }

/*
line:hover {
    stroke: #51F196;
    stroke-width: 5;
    }
*/


.display {
    display: block;
    height: 16px;
    position: absolute;
    text-align: center;
    /*float: left;*/
    vertical-align: middle;
    width: 100%;
    top: 50%; margin-top: -8px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #666666; /*this is the bar color*/
  border: 0px none #3361A1;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3361A1; /*when mouse up*/
}
::-webkit-scrollbar-thumb:active {
  background: #3361A1; /*when mouse down*/
}
::-webkit-scrollbar-track {
  background: #000000; /*rest when inactive*/
  border: 0px none #3361A1;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #000000; /*rest when hover*/
}
::-webkit-scrollbar-track:active {
  background: #000000; /*rest when mouse down*/
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.col-xs-10{
  text-align:center;
  width:inherit;
}

.bg-primary{
  font-height:12px;
}

#BuSL {

    padding: 10px 10px 10px 36px;
    /*font-family: "Trebuchet MS", Arial, Verdana;*/
    background:  url('./busl.png') 10px 10px no-repeat;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    text-shadow: 1px 1px #fff;
    text-align: center;

    }


#BeSL {

    padding: 10px 10px 10px 36px;
    /*font-family: "Trebuchet MS", Arial, Verdana;*/
    background:  url('./besl.png') 10px 10px no-repeat;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    text-shadow: 1px 1px #fff;
    text-align: center;

    }

#BuTL {

    padding: 10px 10px 10px 36px;
    /*font-family: "Trebuchet MS", Arial, Verdana;*/
    background:  url('./butl.png') 10px 10px no-repeat;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    text-shadow: 1px 1px #fff;
    text-align: center;

    }


#BeTL {

    padding: 10px 10px 10px 36px;
    /*font-family: "Trebuchet MS", Arial, Verdana;*/
    background:  url('./betl.png') 10px 10px no-repeat;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    text-shadow: 1px 1px #fff;
    text-align: center;

    }

#DeleteLine {

    padding: 10px 10px 10px 36px;
    /*font-family: "Trebuchet MS", Arial, Verdana;*/
    background:  url('./rubber.png') 10px 10px no-repeat;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    text-shadow: 1px 1px #fff;
    text-align: center;

    }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  /*width: 30%;*/
  width:320px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 60%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

    body{
    text-align:center;
    }
